.App {
<<<<<<< HEAD
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

<<<<<<< HEAD
=======
  text-align: center;
}
>>>>>>> 37a0173a29e3d35064cf76d23621272ccc4fa9fa
=======
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> 68f98a5bc6650e1132fffa668d3936c37885189b
