.botao1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1rem; /*45px*/
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> 37a0173a29e3d35064cf76d23621272ccc4fa9fa
    height: 40px;
    width: 173px;
    border-radius: 10px;
    border-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}